.main{
    min-height: 100vh;
}

.login-page{
    min-height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-image: url("./images/buildings-gc875dd9b7_1280.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    width: 20rem;
    margin: 2rem 0;
    padding: 1rem 2rem;
    color: #fff;
    box-shadow: 5px 50px 50px rgba(0, 0, 0, 0.65);
}

.login h1{
    text-align: center;    
    text-shadow: 2px 2px 2px #000;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span, input{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 700;
}

span{
    text-shadow: 2px 2px 2px #000;
}

input{
    border-radius: 7px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    padding: 0.4rem 1rem;
}

.mail-div, 
.pass-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.mail-div span, 
.pass-div span{
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 0.5rem 0;
}

.pass-div{
    margin-bottom: 2rem;
}

#btn{
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    margin: 1.5rem 0;
    width: 100%;
    background: #fff;
    color: #000;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 7px;
}

#btn:hover{
    background: transparent;
    color: #fff;
}

.home{
    min-height: calc(100vh - 5rem);
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: #7C99AC;
    color: #D3DEDC;
}

nav h1{
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links{
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn{
    font-size: 1.2rem;
    background: transparent;
    width: 8rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: #D3DEDC;
    font-weight: 700;
    border: 2px solid #D3DEDC;
    border-radius: 7px;
}

.btn:hover{
    cursor: pointer;   
    background: #D3DEDC;
    color: #7C99AC;
}

table, td, th{
    border: 1px solid #7C99AC;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #000;
}

th{
    background: #7C99AC;
    color: #fff;
}

table{
    padding: 0;
    background: #D3DEDC;
}

.table{
    padding: 2rem 0;
    min-height: calc(100vh - 9rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background: #D3DEDC;
    padding: 0.5rem;
    border: 2px solid #7C99AC;
    color: #7C99AC;
    font-weight: 600;
}

.delete-btn:hover{
    cursor: pointer;
    background: #7C99AC;
    color: #D3DEDC;
}

td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page{
    min-height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}